---
---


// import main theme
@import "minima";


// font tweaking

// // Ubuntu font
// @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
// body {
//     font-family: 'Ubuntu', sans-serif;
//     color: #111111;
// }

// // Google font, source: P0 blog
// @import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');
// body {
// 	font-family: 'Open Sans', sans-serif;
// 	color: #111111;
// }

// // Segoe UI, source: github
// @import url('https://fonts.googleapis.com/css?family=Segoe%20UI&display=swap');
// body {
// 	font-family: 'Segoe UI', sans-serif;
// 	color: #111111;
// }

// // Roboto, source: my page
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// use local file with fonts instead of making 3rd party requests to google fonts
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto.woff2")
}

body {
	font-family: 'Roboto', sans-serif;
	color: #111111;
}


// site page header fixup:
// - remove eye-irritating useless and pointless black bar on the top of each page
// - remove empty useless gigantic space on the top
.site-header {
	border-top: none;
	min-height: 48px;
	height: 48px;
}


// override background color for syntax highlighting code blocks
pre {
	background-color: #f5f5f7;
}
code {
	background-color: #f5f5f7;
	font-size:14px; // code font size is bigger than text font size by default
}
.highlight .highlight {
	background-color: #f5f5f7;
}


