---
layout: default
---

<div class="home">

  <!--<link rel="shortcut icon" type="image/x-icon" href="./assets/images/cli.ico?">-->
  <!-- this is the magic line to make favicon work for posts because otherwise the modern web would be too simple & easy if we could just set favicon=path globally, right? -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.base_url }}{% link /assets/images/cli.ico %}?">

  {%- if page.title -%}
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
    <!-- fix to make /logs & /home on their pages look in the same style & size: vvvv -->
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:8 -%} <!-- limit frontpage with the latest 8 posts only, see others from archive -->
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">RSS</a> // <a href="{{ site.base_url }}/logs">Archive</a></p>

  {%- endif -%}

</div>

